---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<div class="grid place-items-center h-screen content-center">
		<button>Tailwind Button in Astro!</button>
		<a href="/markdown-page" class="p-4 underline">Markdown is also supported...</a>
	</div>
</Layout>
