---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";

const list = [
  "左右反転Gridレイアウト",
  "Gridカードレイアウト",
  "Gridでボタンを下付きにするレイアウト",
  "Gridでタイル型レイアウト",
  "Gridでサイドバー+記事レイアウト",
];
---

<Layout title="CSS Examples">
  <main class="container mx-auto px-5">
    <PageTitle title="CSS Examples" back />
    <div class="overflow-hidden rounded-lg bg-white shadow">
      <ul class="divide-y divide-gray-100">
        {
          list.map((title, index) => (
            <li class=" hover:bg-blue-200">
              <a href={`/${index + 1}`} class="block px-5 py-3">
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </main>
</Layout>
