---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";

const list = [
  {
    title: "hoge",
    link: "/1",
  },{
    title: "hoge2",
    link: "/2",
  },
];
---

<Layout title="CSS Examples">
  <main class="container mx-auto">
    <PageTitle title="CSS Examples" />
    <ul>
      {
        list.map(({ title, link }) => (
          <li>
            <a href={link}>{title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
