<div>
  <img src="/images/side.JPG" alt="" class="w-full rounded-t-[4px]" />
  <div class="rounded-b-[4px] border-[1px] border-[#ddd] p-[24px]">
    <h2 class="mb-[10px] text-[18px]">タイトルが入ります</h2>
    <p class="text-[14px]">
      説明文章が入ります。説明文章が入ります。説明文章が入ります。説明文章が入ります。説明文章が入ります。
    </p>
  </div>
</div>
