---
export interface Props {
  title: string;
  back?: boolean;
}

const { title, back } = Astro.props;
---

<div class="my-10 flex items-center">
  <h1 class="flex-1 text-2xl font-bold leading-7 text-gray-900">
    {title}
  </h1>
  {
    back && (
      <a href="/" class="text-slate-600">
        Back
      </a>
    )
  }
</div>
